@import url("./dist/jello.css");
* {
    /* font-size: 1.2em; */
    /* outline: 1px solid teal !important;  */
    /* font-weight: bolder; */
}

div{ 
    margin: 5px;
    outline: 3px solid teal;
    padding: 10px;
    text-transform: capitalize;
}
.center { 
    outline: none;   
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Sans-regular";
    
}

.sans {
    font-family: "Sans-regular";
}

.sans-bold{ 
    font-family: "sans-bold";
}

.augusta{
    font-family: "Augusta-Regular";
}

.augusta-light{  
    font-family: "Augusta-Light"
}

.augusta-bold{ 
    font-family: "Augusta-Bold";
}

.augusta-black{ 
    font-family: "Augusta-black";    
}

.damain{ 
    font-family: "Damain-Regular";
}

.damain-meduim{ 
    font-family: "Damain-Medium";
}

.damain-bold{ 
    font-family: "Damain-Bold"; 
}