@import url("./dist/jello.css");
.wrapper {
    padding: 10px 100px;
    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: "Sans-regular";
        &::after {
            content: "\1F525 "
        }
    }
}

h2 {
    font-family: "Sans-regular";
    outline: 1px solid red;
    width: 60%;
    margin: 20px auto;
}

.docs {
    .colors {
        margin-top: 60px;
        h2 {
            &::before {
                content: "1.";
                margin-right: 5px;
            }
        }


        .color-wrapper {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 60%;
            margin: 20px auto;
            outline: 1px solid red;
            .color {
                border-radius: .25rem;
                width: 170px;
                color: white;
                padding: 5px 20px;
                font-family: "Sans-regular";
                margin: 10px 10px;
                -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);

                div {
                    margin: 8px 0px;
                }

                .color-name {
                    font-size: 18px;
                }
                .color-bg {
                    opacity: 0.7;
                    font-size: 15px;
                }
            }
        }
    }

    .fonts {
        h2 {
            &::before {
                content: "2."
            }
        }
        .font-wrapper {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 60%;
            margin: 20px auto;
            outline: 1px solid red;

            .font {
                border-radius: .25rem;
                color: white;
                width: 190px;
                padding: 15px 0px;
                text-align: center;
                margin: 10px 10px;
                -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
                font-size: 16px;
            }
        }
    }


}
