<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../demo.css">
    <title>Fonts</title>
</head>

<body>
    <div class="main">
        <a href="/">
            <div class="header">
                <h1 class="text-centered blueblack"> Jello</h1>
            </div>
        </a>
        <!-- Fonts -->
        <div class="wrapper">
            <h2 class="ash"> Fonts</h2>

            <div class="center">

                <div class="font bg-blueblack sans">
                    <div class="font-name"> Sans-Regular </div>
                </div>

                <div class="font bg-blueblack sans-italic">
                    <div class="font-name"> Sans-Italic </div>
                </div>

                <div class="font bg-blueblack sans-bold">
                    <div class="font-name"> Sans-Bold </div>
                </div>

                <div class="font bg-blueblack augusta">
                    <div class="font-name"> Augusta-Regular </div>
                </div>

                <div class="font bg-blueblack augusta-light">
                    <div class="font-name"> Augusta-Light </div>
                </div>

                <div class="font bg-blueblack augusta-bold">
                    <div class="font-name"> Augusta-bold </div>
                </div>

                <div class="font bg-blueblack damain">
                    <div class="font-name"> Damain-Regular </div>
                </div>

                <div class="font bg-blueblack damain-meduim">
                    <div class="font-name"> Damain-Medium </div>
                </div>

                <div class="font bg-blueblack damain-bold">
                    <div class="font-name"> Damain-Bold </div>
                </div>

                <div class="font bg-blueblack freight">
                    <div class="font-name"> Freight </div>
                </div>


                <div class="font bg-blueblack freight-medium">
                    <div class="font-name"> Freight-Meduim </div>
                </div>


                <div class="font bg-blueblack freight-bold">
                    <div class="font-name"> Freight-Meduim </div>
                </div>

                <div class="font bg-blueblack kre">
                    <div class="font-name"> Kre </div>
                </div>

                <div class="font bg-blueblack Jessy">
                    <div class="font-name"> Jessy </div>
                </div>

                <div class="font bg-blueblack Lucian">
                    <div class="font-name"> Lucian </div>
                </div>

                <div class="font bg-blueblack Noragami">
                    <div class="font-name"> Noragami </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>