<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../demo.css">
    <title>Fonts</title>
</head>

<body>
    <div class="main">
        <a href="/">
            <div class="header">
                <h1 class="text-centered blueblack"> Jello</h1>
            </div>
        </a>
        <!-- Fonts -->
        <div class="wrapper">
            <h2 class="ash"> Fonts</h2>

            <div class="center">

                <div class="font bg-blueblack sans">
                    <div class="font-name"> Sans-Regular </div>
                </div>

                <div class="font bg-blueblack sans-italic">
                    <div class="font-name"> Sans-Italic </div>
                </div>

                <div class="font bg-blueblack sans-bold">
                    <div class="font-name"> Sans-Bold </div>
                </div>

                <div class="font bg-blueblack augusta">
                    <div class="font-name"> Augusta-Regular </div>
                </div>

                <div class="font bg-blueblack augusta-light">
                    <div class="font-name"> Augusta-Light </div>
                </div>

                <div class="font bg-blueblack augusta-bold">
                    <div class="font-name"> Augusta-bold </div>
                </div>

                <div class="font bg-blueblack damain">
                    <div class="font-name"> Damain-Regular </div>
                </div>

                <div class="font bg-blueblack damain-meduim">
                    <div class="font-name"> Damain-Medium </div>
                </div>

                <div class="font bg-blueblack damain-bold">
                    <div class="font-name"> Damain-Bold </div>
                </div>

                <div class="font bg-blueblack freight">
                    <div class="font-name"> Freight </div>
                </div>


                <div class="font bg-blueblack freight-medium">
                    <div class="font-name"> Freight-Meduim </div>
                </div>


                <div class="font bg-blueblack freight-bold">
                    <div class="font-name"> Freight-Meduim </div>
                </div>

                <div class="font bg-blueblack kre">
                    <div class="font-name"> Kre </div>
                </div>

                <div class="font bg-blueblack Jessy">
                    <div class="font-name"> Jessy </div>
                </div>

                <div class="font bg-blueblack Lucian">
                    <div class="font-name"> Lucian </div>
                </div>

                <div class="font bg-blueblack Noragami">
                    <div class="font-name"> Noragam </div>
                </div>


            </div>
        </div>



        <div class="wrapper">
            <h2 class="ash">Fonts Typography</h2>

            <div class="center">

                <div class="typo">
                    <div class="name sans blueblack">
                        Sans
                    </div>
                    <div class="typography sans ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name sans-italic blueblack">
                        Sans-italic
                    </div>
                    <div class="typography sans-italic ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>


                <div class="typo">
                    <div class="name sans-bold blueblack">
                        Sans-bold
                    </div>
                    <div class="typography sans-bold ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name augusta blueblack">
                        Augusta
                    </div>
                    <div class="typography augusta ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>


                <div class="typo">
                    <div class="name augusta-light blueblack">
                        Augusta-light
                    </div>
                    <div class="typography augusta-light ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name augusta-bold blueblack">
                        Augusta-bold
                    </div>
                    <div class="typography augusta-bold ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name damain blueblack">
                        Damain
                    </div>
                    <div class="typography damain ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>


                <div class="typo">
                    <div class="name damain-meduim blueblack">
                        Damain-Meduim
                    </div>
                    <div class="typography damain-meduim ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name damain-bold blueblack">
                        Damain-bold
                    </div>
                    <div class="typography damain-bold ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name freight blueblack">
                        Freight
                    </div>
                    <div class="typography freight ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>


                <div class="typo">
                    <div class="name freight-medium blueblack">
                        Freight-medium
                    </div>
                    <div class="typography freight-medium ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name freight-bold blueblack">
                        Freight-bold
                    </div>
                    <div class="typography freight-bold ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name kre blueblack">
                        Kre
                    </div>
                    <div class="typography kre ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>


                <div class="typo">
                    <div class="name jessy blueblack">
                        Jessy
                    </div>
                    <div class="typography jessy ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>

                <div class="typo">
                    <div class="name lucian blueblack">
                        Lucian
                    </div>
                    <div class="typography lucian ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>


                <div class="typo">
                    <div class="name noragami blueblack">
                        Noragami
                    </div>
                    <div class="typography noragami ash">
                        ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽ
                        <br> abcčćdđefghijklmnopqrsštuvwxyzž
                        <br> ĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)
                        <br> [#]{@}/&\
                        <-+÷×=>®©$€£¥¢:;,.*
                            <br>
                    </div>
                </div>


































































            </div>
        </div>






    </div>
</body>

</html>