<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../demo.css">
    <title>Labels</title>
</head>

<body>
    <div class="main">
        <a href="/src">
            <div class="header">
                <h1 class="text-centered blueblack"> Jello</h1>
            </div>
        </a>
        <!-- Fonts -->
        <div class="wrapper">
            <h2 class="ash"> Labels</h2>
        </div>
    </div>
</body>

</html>