@font-face {
  font-family: "Sans-Regular";
  src: url("./fonts/sans-regular.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Sans-Italic";
  src: url("./fonts/sans-italic.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Sans-Bold";
  src: url("./fonts/sans-bold.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Augusta-Regular";
  src: url("./fonts/Augusta-Regular.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Augusta-Light";
  src: url("./fonts/Augusta-Light.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Augusta-Bold";
  src: url("./fonts/Augusta-Bold.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Damain-Regular";
  src: url("./fonts/Damain-Regular.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Damain-Bold";
  src: url("./fonts/Damain-Semibold.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Damain-Medium";
  src: url("./fonts/Damain-Medium.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Freight-Light";
  src: url("./fonts/Freight-Light.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Freight-Medium";
  src: url("./fonts/Freight-Medium.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Freight-Bold";
  src: url("./fonts/Freight-Bold.ttf");
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Kre";
  font-display: auto;
  font-weight: normal;
  src: url("../fonts/Kre.ttf");
}
@font-face {
  font-family: "Kre";
  font-display: auto;
  font-weight: normal;
  src: url("../fonts/Kre.ttf");
}

@font-face {
  font-family: "Jessy";
  font-display: auto;
  font-weight: normal;
  src: url("../fonts/Jessy.ttf");
}

@font-face {
  font-family: "Lucian";
  font-display: auto;
  font-weight: normal;
  src: url("../fonts/Lucian.ttf");
}

@font-face {
  font-family: "Noragami";
  font-display: auto;
  font-weight: normal;
  src: url("../fonts/Noragami.ttf");
}

.sans {
  font-family: "Sans-Regular";
  font-weight: 400px;
}

.sans-italic {
  font-family: "Sans-Italic";
}

.sans-bold {
  font-family: "Sans-Bold";
}

.augusta {
  font-family: "Augusta-Regular";
}

.augusta-light {
  font-family: "Augusta-Light";
}

.augusta-bold {
  font-family: "Augusta-Bold";
}

.damain {
  font-family: "Damain-Regular";
}

.damain-meduim {
  font-family: "Damain-Medium";
}

.damain-bold {
  font-family: "Damain-Bold";
}

.freight {
  font-family: "Freight-Light";
}

.freight-medium {
  font-family: "Freight-Medium";
}

.freight-bold {
  font-family: "Freight-Bold";
}

.kre {
  font-family: "Kre";
}

.Jessy {
  font-family: "Jessy";
}

.Lucian {
  font-family: "Lucian";
}

.Noragami {
  font-family: "Noragami";
}
