@import "../mixins/em";

.label {
  border-radius: em(3);
}

.sm {
  padding: em(7) em(10);
  font-size: em(12);
}

.md {
  padding: em(9) em(19);
  font-size: (15);
}

.lg {
  padding: em(13) em(25);
  font-size: em(20);
}

.active {
  position: relative;
  white-space: nowrap;

  & {
    &::after {
      background: $lightgreen;
      border-radius: 0.5rem;
      -webkit-box-shadow: 0 0 0 0.1rem white;
      box-shadow: 0 0 0 0.1rem white;
      color: white;
      content: attr(data-badge);
      display: inline-block;
    }
  }

  &:after {
    height: em(10);
    width: em(10);
    text-align: center;
    white-space: nowrap;
  }
}
