@import "jello";

* {
  // outline: 1px solid red;
}

.docs {
  margin: 40px 100px;
  padding: 30px;

  .base {
    .topic {
      font-family: "Sans-Regular";
      font-size: 25px;
      margin: 10px 0px;
    }
    .elements {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      & > a {
        margin: 10px 10px 10px 0px;
        font-size: 17px;
        font-family: "Sans-Regular";
        color: $blueblack;
        border: 2px solid $gold;
        padding: 10px 20px;
      }
    }
  }
}

h2 {
  font-family: "Sans-regular";
  text-align: center;
  margin: 20px 0px;
}

.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  margin: 20px auto;
}

.main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  .header {
    width: 100%;
    height: 70px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  h1 {
    font-family: "Sans-regular";
    &::after {
      content: "\1F525 ";
    }
  }
}

.color {
  border-radius: 0.25rem;
  width: 170px;
  color: white;
  padding: 5px 20px;
  font-family: "Sans-regular";
  margin: 10px 10px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  div {
    margin: 8px 0px;
  }
  .color-name {
    font-size: 18px;
  }
  .color-bg {
    opacity: 0.7;
    font-size: 15px;
  }
}

.font {
  border-radius: 0.25rem;
  color: white;
  width: 190px;
  padding: 15px 0px;
  text-align: center;
  margin: 10px 10px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.label {
  font-family: "freight-medium" !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
  margin: 20px auto;
  outline: 1px solid red;
  & > div {
    margin: 10px 20px;
  }
}
