@import "elements/colors";
@import "elements/fonts";
@import "elements/labels";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}


ul {
    li {
        list-style: none;
    }
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.text-centered {
    text-align: center;
}
